.wrapper {
	width: 100%;
	padding: 0 15px;
}
.content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.icon {
	font-size: 20px;
	cursor: pointer;
	color: #777;
	color: #3d3d3f;
}
.fav_added .icon {
	color: #3aad94;
}
.item {
	margin: 0 13px;
	margin: 0;
}
.btn {
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3d3d3f;
}
.btn > svg {
	width: 20px;
	height: 20px;
}
