.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 0;
}
.controls {
	display: flex;
	width: 284px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;
}
.btn {
	cursor: pointer;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.btn.small {
	min-width: 18px;
	min-height: 18px;
}
.btn.small.shadow {
	min-width: 40px;
	min-height: 40px;
}
.btn.large {
	min-height: 57px;
	min-width: 57px;
	background: linear-gradient(
		140.96deg,
		#3d3d3f 14.8%,
		rgba(61, 61, 63, 0.74) 89.51%
	);
	background-color: transparent !important;
}
.btn.shadow {
	box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9,
		8px 8px 20px #0001, 5px 5px 6px 0px #0001;

	box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.5),
		inset -3px -3px 3px rgba(0, 0, 0, 0.05);
	box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9,
		-8px -8px 20px #0001, -5px -5px 6px 0px #0001,
		inset -3px -3px 3px rgb(0 0 0 / 5%);

	background-color: #58585e;
	box-shadow: none;
}
.icon {
	width: 14px;
	height: 14px;
	fill: #505054;
}
.loop .icon {
	fill: red;
}

.btn.shadow .icon {
	color: #d0d0d0;
	fill: #d0d0d0;
}
.btn.large .icon {
	width: 16px;
	height: 16px;
	fill: #fff;
}
/* .btn.play::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.5),
    inset -3px -3px 3px rgba(0, 0, 0, 0.05);
} */
@media screen and (max-height: 560px) {
	.controls {
		scale: 0.8;
	}
}
