.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto 70px auto;
  position: relative;
}
.chapter {
  padding-top: 24px;
  text-align: center;
}
.chapter h2 {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 600;
  color: #000;



  font-family: 'SFProDisplay';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */


background: linear-gradient(270.02deg, #3C3E47 -1.09%, #474A52 103.81%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
color: #3C3E47;
margin-bottom: 9px;
}
.reciter {
  font-family: "Montserrat";
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 4px;
  color: #000;
}
.reciter span {
  font-family: "SFProDisplay";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #3D3D3F;

}
