.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 158.52px;
	height: 158.52px;
	/* left: 128px;
  top: 336px; */
	position: relative;
}

.icon {
	position: absolute;
	width: 32.87px;
	height: 25px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #1ba584;
	z-index: 6;
	text-align: center;
}

.visualize {
	width: 33px;
	height: 25px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.spike {
	width: 0;
	position: relative;
	display: block;
	border: 1px solid #1ba584;
}
.spike1 {
	top: 3.55px;
	height: 17px;
}
.spike2 {
	top: 13.37px;
	height: 7px;
}
.spike3 {
	top: 4px;
	height: 21px;
}
.spike4 {
	top: 8px;
	height: 9px;
}
.spike5 {
	top: 0px;
	height: 17px;
}
.spike6 {
	top: 13px;
	height: 10px;
}
.spike7 {
	top: 3px;
	height: 17px;
}

.outer {
	position: absolute;
	width: 153px;
	height: 153px;
	left: 3px;
	top: 3px;
	background: rgba(144, 145, 152, 0.22);
	box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.5),
		inset 2px 2px 5px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
	border-radius: 50%;
	z-index: 4;
}

.inner {
	position: absolute;
	width: 158.52px;
	height: 158.52px;
	left: 0;
	top: 0;
}

.subtract {
	position: absolute;
	width: 79.96px;
	height: 79.96px;
	left: 78.56px;
	top: 0;
	background: #1aa886;
	border-radius: 10px;
	background: none;
	border: 2.5px solid #1aa886;
	border-radius: 0 100% 0 0;
	z-index: 5;
	clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.el3 {
	box-sizing: border-box;
	position: absolute;
	width: 158.52px;
	height: 158.52px;
	left: 0;
	top: 0;
	border: 2.5px solid #444147;
	border-radius: 50%;
	z-index: 3;
}
.el2 {
	box-sizing: border-box;
	position: absolute;
	width: 152.91px;
	height: 152.91px;
	left: 2.81px;
	top: 2.81px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.el1 {
	position: absolute;
	width: 158.52px;
	height: 158.52px;
	left: 0;
	top: 0;
	background: #1b1b1b;
	box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.3),
		-6px -5px 7px -1px rgba(86, 100, 103, 0.94);
	border-radius: 50%;
}

@media screen and (max-height: 640px) {
}
