.card {
	margin-top: 0;
	padding: 0;
	position: relative;
}
.card:first-child {
	margin-top: 0;
}
.card:last-child {
	margin-bottom: 0;
}
.card::after {
	content: "";
	position: absolute;
	bottom: 4px;
	left: 56px;
	right: 0;
	height: 0.7px;
	background: linear-gradient(
		90deg,
		rgba(61, 61, 63, 0.7) 1.01%,
		rgba(142, 152, 161, 0.7) 100.67%
	);
}
.reciters.card::after {
	left: 75px;
}
.fav_card.card::after {
	left: 72px;
}
.liveFavCard.card::after {
	left: 52px;
}
.card:last-child::after {
	display: none;
}
.card.active {
}
.card.active .wrapper {
}
.wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 7px;
}
.left {
	width: 40px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.reciters .left,
.fav_card .left {
	width: 56px;
}
.middle {
	width: calc(100% - 104px);
	display: block;
}
.reciters .middle,
.fav_card .middle,
.liveFavCard .middle {
	width: calc(100% - 128px);
}
.right {
	width: 32px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.right .icon {
	cursor: pointer;
}
.image {
	/* width: 64px;
	height: 64px; */
	/* width: 56px; */
	/* height: 56px; */
	border-radius: 50%;
	overflow: hidden;
	/* display: flex; */
	/* justify-content: flex-start; */
	/* align-items: center; */
}
.reciters .image,
.fav_card .image {
	width: 56px;
	height: 56px;
}
.image img {
	width: 100%;
	height: 100%;
	object-fit: fill;
	object-position: center center;
}
.name {
	font-family: "SFProDisplay";
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	text-align: left;
	letter-spacing: 0.5px;
	color: #222222;
	margin-bottom: 5px;
}
.meaning {
	font-family: "SFProDisplay";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	text-align: left;
	letter-spacing: 0.5px;
	color: #3d3d3f;
}
.icon {
	color: #58585d;
	font-size: 24px;
}
.icon svg {
	fill: none;
}
.icon svg circle {
	stroke: #58585d;
}
.icon svg rect {
	fill: #58585d;
}

/* chapter card */
.number {
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #b8bfc4;
	border-radius: 50%;
	font-family: "SFProDisplay";
	font-size: 15px;
	color: #58585d;
	font-weight: 400;
}

.date {
    font-size: 0.9rem;
    color: #3d3d3f;
    margin-top: 5px;
	font-family: "SFProDisplay";
}

.timestamp {
    font-size: 0.9rem;
	color: #3d3d3f;
	margin-top: 5px;
	font-family: "SFProDisplay";
}

/* favorite card */
.fav_card .middle {
	width: calc(100% - 72px - 82px);
}

.fav_card .right.btns,
.liveFavCard .right.btns {
	width: 64px;
}
.fav_card .right.btns .icon,
.liveFavCard .right.btns .icon {
	margin-left: 5px;
}
@media screen and (min-width: 769px) {
	.name {
		font-size: 16px;
	}
	.meaning {
		font-size: 14px;
	}
	.icon {
		font-size: 24px;
	}
}
