.card {
  margin-top: 10px;
  padding: 0 15px;
}
.card:first-child {
  margin-top: 44px;
}
.card:last-child {
  margin-bottom: 34px;
}
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
}
.left {
  position: relative;
  width: calc(100% - 60px);
  padding-left: 48px;
}
.number {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0px, -50%);
  width: 34px;
  height: 34px;
  background-color: #dbe3eb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: "Montserrat";
  font-size: 12px;
  color: #445b78;
  font-weight: 500;
}
.name {
  color: #445b78;
  font-size: 15px;
  line-height: 1.4;
}
.meaning {
  color: #92a1b3;
  font-size: 13px;
  line-height: 1.5;
}
.right {
  width: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #c0c6d2;
  cursor: pointer;
  box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9,
    8px 8px 20px #0001, 5px 5px 6px 0px #0001;
}
/* .btn:focus {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
    inset -0.2rem -0.2rem 0.5rem #fff;
} */
.icon {
  width: 14px;
  height: 14px;
}

/* active */
.card.active .inner {
  border-radius: 14px;
  background: #ecf0f3;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  box-shadow: inset 3px 3px 15px #ddd, inset -4px -4px 6px white;
}
.card.active .btn {
  background-color: #76cdcf;
  color: #ffffff;
}
