.panel_content {
	height: auto;
	min-height: calc(100% - 61px);
	min-height: 100%;
	overflow: auto;
}

.wrapper {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: 11;
	/* background: linear-gradient(90deg, #cedfe5 0%, #797b88 100%); */
	background: linear-gradient(90deg, #8b959e, #cdd8e0);
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 66px;
}

/* .header {
	margin-bottom: 60px;
	padding-top: 30px;
} */
.name {
	padding-bottom: 0;
	/* overflow: hidden; */
}
.image {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 264px;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}
.buttons {
	/* margin-bottom: 0;
  z-index: 9;
  width: 256px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
	z-index: 9;
	width: 250px;
	position: relative;
	margin: 40px auto 80px;
	margin: 24px auto 64px;
}
.share {
	padding: 8px 0;
}
.visualizer {
}
.audio {
	margin-top: 60px;
}
.menu {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	/* border-top: 1px solid rgba(0, 0, 0, 0.1); */
}

.icon {
	font-size: 20px;
	cursor: pointer;
	color: #777;
	color: #3d3d3f;
}
.item {
	margin: 0 13px;
	margin: 0;
}
.mode {
	/* padding-left: 8px; */
}
.mode_txt {
	font-size: 12px;
}
.btn {
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-height: 800px) {
	/* .header {
		margin-bottom: 5.775vh;
		padding-top: 2.475vh;
	} */
	.buttons {
		margin: 2vh auto 5.25vh;
	}
	.audio {
		margin-top: 4.95vh;
	}
}

@media screen and (max-height: 640px) {
	/* .header {
		margin-bottom: 2.5vh;
		padding-top: 1.5vh;
	} */
	.buttons {
		margin: 1.5vh auto 4vh;
	}
	.audio {
		margin-top: 3.75vh;
	}
	.image {
		scale: 0.9;
	}
}
@media screen and (max-height: 560px) {
	.buttons {
		scale: 0.8;
		margin: 0.5vh auto 2vh;
	}
	.image {
		scale: 0.7;
	}
	.audio {
		margin-top: 2vh;
	}
	/* .header {
		margin-bottom: 1vh;
		padding-top: 0;
	} */
}
@media screen and (max-height: 420px) {
	.wrapper {
		overflow: auto;
	}
}
@media screen and (max-width: 420px) {
	.wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media screen and (min-width: 769px) {
	.wrapper {
		background: #abb1b7;
	}
}
