.wave {
  height: 32px;
  width: 160px;
  padding: 0;
  margin: 0 22px;
  background: none;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.inner,
.outer,
.ranger {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}
.outer {
  z-index: 6;
}
.ranger {
  z-index: 9;
}
.canvas {
  width: 160px;
  height: 48px;
}

/* ranger progressbar */
.progress {
  -webkit-appearance: none;
  outline: none;
  border: none;
  padding: 0;
  background: none;
  width: 160px;
  height: 0;
  position: relative;
  border-radius: 20px;
  margin: 0 22px;
}
.progress::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
    inset -0.2rem -0.2rem 0.5rem #fff;
  border-radius: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 100%;
  background-color: var(--main-color);
  height: 16px;
  width: 16px;
  margin-top: -2px;
}
.progress.mini {
  width: 138px;
  border-radius: 20px;
  margin: 0 16px;
}
.progress.mini::-webkit-slider-runnable-track {
  height: 11px;
}
.progress.mini::-webkit-slider-thumb {
  height: 13px;
  width: 13px;
  margin-top: -1px;
}
