.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto 70px auto;
  position: relative;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;
  background-image: url(/img/bg/kaaba.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  border-radius: 0 0 50% 50%;
  transform: scale(1.5);
  z-index: -1;
  overflow: hidden;
}
.bg::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(94, 206, 221, 0.6);
}
.chapter {
  padding-top: 47px;
  text-align: center;
}
.chapter h2 {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 600;
  color: #000;
}
.reciter {
  font-family: "Montserrat";
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 62px;
  margin-top: 6px;
  color: #000;
}
.reciter span {
}

.image {
  width: 200px;
  height: 200px;
  position: relative;
  margin-bottom: -20px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
  position: relative;
  z-index: 9;
}

.puls1 {
}
.puls2 {
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
