.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border-bottom: 1px solid #ddd; */
  padding: 10px 0;
  color: #444;
  font-size: 14px;
  line-height: 1.4;
  font-family: "Montserrat";
  font-weight: 500;
  background-color: #fff;
}
.back {
}
.icon {
  color: #444;
  font-size: 16px;
  margin-top: -2px;
}

.reciter {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
}
.reciter_name {
  font-weight: 500;
  color: #444;
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat";
}
.image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 20px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
