.content {
  --padding-start: 15px;
  --padding-end: 15px;
}
.list {
  width: 100%;
}
.item {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  /* border-bottom: 1px solid #ddd; */
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-right: 12px;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: 100%;
}
.label {
  color: #444;
}
.label .reciter {
  font-size: 15px;
}
.label .chapter {
  font-size: 13px;
  opacity: 0.7;
  line-height: 1.5;
}
.btns {
  display: flex;
}
.btn {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 20px 0px #fff9, 6px 6px 6px 0px #fff9, -8px 8px 20px #0001,
    -5px 5px 6px 0px #0001;
  width: 32px;
  height: 32px;
  margin-left: 8px;
}
.icon {
  margin: 0;
  font-size: 15px;
  color: #444;
}
.no_record {
  font-size: 14px;
}
