.panel_content {
  height: calc(100% - 61px);
  overflow: auto;
}

.wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  /* transition: height 250ms ease-in-out; */
  height: 100%;
  z-index: 11;
}

.header {
  padding: 0 12px;
}
.content {
  padding-bottom: 0;
  overflow: hidden;
}
.timer {
  margin-bottom: 48px;
}
.audio {
}
.menu {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
}

@media screen and (min-width: 1024px) {
}
