.home .h-header {
	display: block;
}
.favRecent .tab-btn,
.favRecent .tab-btn.Mui-selected {
	text-transform: none;
	color: #3d3d3f;
}
.MuiTabs-scroller .MuiTabs-indicator {
	background-color: #3aad94;
}
body.backdrop-no-scroll {
	overflow: auto;
}
