ion-header::after,
ion-footer::before {
	display: none;
}
.ion-page {
	background: linear-gradient(90deg, #8b959e, #cdd8e0);
}
// hide scrollbar
ion-content {
	--background: linear-gradient(90deg, #8b959e, #cdd8e0);
	// --offset-bottom: auto !important;
	// --overflow: auto;
	// overflow: auto;
}
ion-content::-webkit-scrollbar {
	// display: none;
}
