ion-header::after,
ion-footer::before {
  display: none;
}
.ion-page {
  background-color: #fff;
  // background-color: #f9f9f9;
}
// hide scrollbar
ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
}
ion-content::-webkit-scrollbar {
  display: none;
}
